[submodule "wm/qtile"]
	path = wm/qtile
	url = git@github.com:EGRrqq/qtile.git
[submodule "terminal/alacritty"]
	path = terminal/alacritty
	url = git@github.com:EGRrqq/alacritty.git
[submodule "terminal/tmux"]
	path = terminal/tmux
	url = git@github.com:EGRrqq/tmux.git
[submodule "terminal/zsh"]
	path = terminal/zsh
	url = git@github.com:EGRrqq/zsh.git
[submodule "editor/helix"]
	path = editor/helix
	url = git@github.com:EGRrqq/helix.git
[submodule "editor/nvim"]
	path = editor/nvim
	url = git@github.com:EGRrqq/kickstart.nvim.git
[submodule "wm/awesome"]
	path = wm/awesome
	url = git@github.com:EGRrqq/awesome.git
[submodule "terminal/kitty"]
	path = terminal/kitty
	url = git@github.com:EGRrqq/kitty.git
[submodule "editor/zed"]
	path = editor/zed
	url = git@github.com:EGRrqq/zed.git
